@import './colors';
@import './mixins';

/**
* You're free to modify or improve anything
* in this file as you see fit.
*/

/**
* CLASSES
* ---------------------------------------
* These are applied to the existing UI.
*/

.container {
  max-width: 40rem;
  margin: 4rem auto 0;
  text-align: center;
}

.prompt {
  margin: 0 auto 1rem;
  color: $grey-dark;
  font-size: 1.5rem;
  line-height: 1.75;
}

.options {
  margin: 3rem 0;
}

.cta {
  @include cta;

  &:hover,
  &:focus {
    @include cta-hover;
  }

  &:active {
    transform: scale(0.98);
    transition: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px $grey-light, 0 0 0 5px $watermelon;
  }
}

.option {
  @include rounded-item;

  &:focus,
  &.checked:focus:active {
    box-shadow: 0 0 0 2px $grey-light, 0 0 0 3px $grey-border;
  }

  &:active:focus,
  &.checked:focus {
    box-shadow: 0 0 0 2px $grey-light, 0 0 0 3px $turquoise;
  }

  &:active {
    transform: scale(1.1);
    background-color: $turquoise;
    color: white;

    &:focus {
    }
  }

  &.checked {
    @include checked;

    &:active {
      background-color: white;
      color: inherit;
      border-color: $grey-border;
    }
  }
}
