@import './colors';
@import './mixins';

/**
* You're free to modify or improve anything
* in this file as you see fit.
*/

/**
* CLASSES
* ---------------------------------------
* These are applied to the existing UI.
*/

.container {
  max-width: 40rem;
  margin: 4rem auto 0;
  text-align: center;
}

.prompt {
  margin: 0 auto 1rem;
  color: #2f3237;
  font-size: 1.5rem;
  line-height: 1.75;
}

.highlighted {
  position: relative;
  font-weight: 800;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    width: 100%;
    content: '';
    background-color: $teal;
    z-index: -1;
  }
}

.options {
  margin: 3rem 0;
}
